.info{
    border:1px solid gray;
    padding:5px;
    background-color:#EEF
}

body{
    font-family: Lato,sans-serif;
}

h1, h2, h3{
    color:black !important;
    font-family: Open Sans, sans-serif !important;
    border-bottom: 1px solid #888;
}

div.stderr, div.stream{
    margin-top: 0px !important;
    /* background-color:transparent; */
    color:#888 !important;
}

div.stderr pre, div.stream pre{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.text_plain{
    margin-top: 0px !important;
}