.info{
    border:2px solid gray;
    padding:5px;
    background-color:#EEF
}

/* h1, h2, h3{
    color:black;
    font-family: Open Sans, sans-serif;
    border-bottom: 0.5px solid #888;
}

body{
    font-family: Lato,sans-serif;
} */