.info{
    border:1px solid gray;
    padding:5px;
    background-color:#EEF
}

body{
    font-family: Lato,sans-serif;
}

h1, h2, h3{
    color:black;
    font-family: Open Sans, sans-serif;
    border-bottom: 1px solid #888;
}

div.stderr{
    margin-top: 0px;
    background-color:transparent;
    color:#888;
}

div.text_plain{
    margin-top: 0px;
}